<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<title>Eventos app</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/> 
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	
	<h2>Cliente</h2>	
	<div th:each="cliente:${cliente}" class="container detalhesEvento">	
		<div class="row col-md-12">
			<div class="col-md-6">
				<label class="control-label col-md-2">Nome:</label><span class="col-md-10" th:text="${cliente.nome}"></span>
			</div>
			<div class="col-md-6">
				<label class="control-label col-md-2">Documento:</label><span class="col-md-10" th:text="${cliente.documento}"></span>
			</div>
		</div>
		<div class="row col-md-12">
			<div class="col-md-6">
				<label class="control-label col-md-2">Plataforma:</label><span class="col-md-10" th:text="${cliente.plataforma}"></span>
			</div>
			<div class="col-md-6">
				<label class="control-label col-md-2">Segmento:</label><span class="col-md-10" th:text="${cliente.segmento}"></span>
			</div>
		</div>
	</div>
	
	
	<h2>Movimentos</h2>
	
	<table class="display table table-hover table-primary" id="movimentosTable">
		<thead>
			<th>Tipo</th>
			<th>Quantidade</th>
			<th>Valor</th>
		</thead>
		<tbody>
			<tr th:each="movimentos: ${movimentos}">
				<td><span th:text="${movimentos.tipo}"></span></td>
				<td><span th:text="${movimentos.quantidade}"></span></td>
				<td><span th:text="${movimentos.valor}"></span></td>
			</tr>
		</tbody>
	</table>
	
<script type="text/javascript" src="materialize/js/materialize.min.js">

$(document).ready( function () {
	 var table = $('#movimentosTable').DataTable({	
	        "pagingType": "full_numbers"
	 })
});
</script>
</div>
</body>
</html>