<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<title>Eventos app</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/> 
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	<div th:each="cliente:${cliente}" class="container detalhesEvento">
	<h5>Detalhes do Movimento</h5>
		<div class="row">
			<p>Nome: <span th:text="${cliente.nome}"></span></p>
			<p>Documento: <span th:text="${cliente.documento}"></span></p>
		</div>
	</div>
	<div th:each="movimentos: ${movimentos}" class="container detalhesMovimento">
		<h5>Detalhes do Movimento</h5>
			<div class="row">
				<p><span th:text="${movimentos.tipo}"></span></p>
				<p><span th:text="${movimentos.quantidade}"></span></p>
				<p><span th:text="${movimentos.valor}"></span></p>
			</div>
		</div>
	<div class="container formConvidado">
		<form method="post">
			Nome: <input type="text" value="" name="nomeConvidado"/>
			RG: <input type="text" value="" name="rg"/>
			<button type="submit" class="waves-effect waves-light btn">Adicionar Convidado</button>
		</form>
	</div>
	<table class="container tabelaConvidado">
		<thead>
			<tr>
				<th>Plataforma</th>
				<th>plat</th>
			</tr>
		</thead>
	</table>
	
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</div>
</body>
</html>