<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<title>Clientes</title>
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/> 
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<header>
		<h1>Lista de Clientes</h1>
  	</header>
	<table class="display table table-hover table-primary" id="clientesTable">
		<thead>
			<th></th>
			<th>Plataforma</th>
			<th>Nome</th>
			<th>Nº Documento</th>
			<th>Segmento</th>
		</thead>
		<tbody>
			<tr th:each = "cliente:${clientes}">
				<td><a th:href="@{${cliente.codigo}}"><i class="fas fa-arrow-circle-right"></i></a></td>
				<td><span th:text="${cliente.plataforma}"></span></td>
				<td><span th:text="${cliente.nome}"></span></td>
				<td><span th:text="${cliente.documento}"></span></td>
				<td><span th:text="${cliente.segmento}"></span></td>
			</tr>
		</tbody>
	</table>
	
<script type="text/javascript">
$(document).ready( function () {
	 var table = $('#clientesTable').DataTable({	
	        "pagingType": "full_numbers"
	 })
});

</script>

</div>
</body>
</html>